.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;

  & .logo {
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
    cursor: pointer;
  }

  & .search {
    display: flex;
    align-items: center;
    border-radius: 24px;
    flex: 1;
  }

  & .searchInput {
    height: 12px;
    padding: 10px;
    border: none;
    width: 100%;
  }

  & .searchIcon {
    padding: 5px;
    height: 22px;
    background-color: #cd9042;
  }

  & .headerNav {
    display: flex;

    & .option {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      margin: 0 10px;
      color: #fff;

      .one {
        font-size: 10px;
      }

      .two {
        font-size: 13px;
        font-weight: 800;
      }
    }

    .optionBasket {
      display: flex;
      align-items: center;
      color: #fff;
      margin-right: 0.5rem;
      cursor: pointer;
    }
  }
}
